.button_primary{
    background: blue;
    height: 30px;
}

.button_danger{
    background: red;
    height: 30px;
}

.button_warning{
    background: orange;
    height: 30px;
}

.button_success{
    background: green;
    height: 30px;
}

.button{
    height: 36px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #fff;
    outline: none;
    padding: 0 16px;
}